<form action="/connect" method="post">
    <label for="">Firstname:</label>
    <input type="text" name="firstname">
    <br/>
    <label for="">Lastname:</label>
    <input type="text" name="lastname">
    <br/>
    <label for="">Date of Birth:</label>
    <input type="text" name="dateofBirth">
    <br/>
    <label for="">Gender:</label>
    <input type="text" name="gender">
    <br/>
    <label for="">Username:</label>
    <input type="text" name="username">
    <br/>
    <label for="">Email:</label>
    <input type="email" name="email">
     <br/>
    <label for="">Password:</label>
    <input type="password" name="password">
     <br/>
     <label for="">Country:</label>
    <input type="password" name="country">
     <br/>
     <label for="">City:</label>
    <input type="password" name="city">
     <br/>
    <button type="submit">Sign Up</button>
</form>

<form action="/connect" method="post">
    <label for="">Email:</label>
    <input type="email" name="email">
     <br/>
    <label for="">Password:</label>
    <input type="password" name="password">
     <br/>
    <button type="submit">Log In</button>
</form>