<h1>All donations👕</h1>

<div class="container">
                     
                     <div class="row">
                     {{#each items}} 
                     {{> itemCard this}} 
                     {{/each}}
                     </div>
                  </div>

