
<h1>Home Page</h1>


{{!-- <!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Welcome USER</title>
      
   </head>

   <body>
    <button id="profile-button">My Profile</button>
    <button id="donations-button">My Donations</button>
    <button id="favorite-button">Favorite Items</button>
    <button id="donate-button">DONATE</button>
    <button id="logout-button">Log Out</button>

    <div>
        <h2>All items</h2>
    </div>

   </body> --}}