<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Your profile Details</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

<body>

    <h1>Welcome {{username}} 😊</h1>

    <h2>Your profile Details</h2>

<div> 
    
<button id= "edit-user-button" type="submit">Edit</button>

<button id= "delete-user-button" type="submit">Delete</button>

<p>Email: {{email}}</p>
<p>Username: {{username}}</p>

</div>

<script src="/js/script.js"></script>

</body>

</html>